body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: hotpink;
}
p{
    text-align: initial;
}
.fuchka{
    color: black;
    font-size: larger;
    margin-right: 20px;    
}
h2{
    color: orange;
}
.container{
    display: flex;
}
.half-width{
    padding-left: 5%;
    width: 45%;
}
.half-width img{
    width: 80%;
    height: 80%;
    padding-left: 20px;
}
.link-button{
    padding: 10px 20px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: wheat;
    font-weight: 700;
    margin-left: 60px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(picture/top-banner.png);
    background-repeat: no-repeat;
}
#sss{
    margin-top: 70px;
}
.dream-big{
    background-image: url(picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
    margin-top: 50px;
}
.half-width img{
    margin-top: 50px;
}
.borhani{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 20px 20px 20px lightpink;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.image{
    background-image: url(picture/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
